parameters:
    level: 9

    paths:
        - ./src

    excludePaths:
        - ./vendor

    ignoreErrors:
        - message: "#Unsafe usage of new static().#"
          paths:
            - src/Phine/Handlers/BaseEventHandler.php

    checkPhpDocMissingReturn: true
